.border {
    border-style: solid;
    border-color: #ffffff;
}

h1 span {
    background-color: black;
}

h2 span {
    background-color: black;
}

h3 span {
    background-color: black;
    font-size: 24px;
}

.movies {
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spacing {
    margin: 64px 32px;
}



